.product {
    display: flex;
    margin-top:10px;
    width: 100%;
}

.products-container {
    flex: 1;
    padding: 20px;
}

.filter-sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  .filter-sidebar h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
  }

  .Filter {
    margin-bottom: 20px;
  }
  
  .Filter h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
  }

  .checkbox-filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .checkbox-filter label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #444;
  }
  
  .checkbox-filter input {
    margin-right: 8px;
  }
  
  .Price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
  }
  
  .Price label {
    font-size: 14px;
    color: #555;
  }
  
  .Price input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding-left:20px;  
    gap: 20px;
  }

  .product-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  .product-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    height: 200px;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
  }
  
  .product-info {
    padding: 15px;
  }
  
  .product-info h2 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: bold;
    color: #2a6f97;
    margin-bottom: 10px;
  }
  
  .product-name {
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .button{
    color: white;
    background-color: #0078cc;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.2s;
    border: 1px solid ;
  }
  .button:hover{
    background-color: #0069b4;
  }

  .Cart{
    margin-left: 10px; 
    margin-right: 10px;
    padding: 10px 0;
  }
  
  